@import '../../components/text-styling/text-styling.scss';

.AboutMePage {
    display: flex;
    flex-direction: column;
    align-items: center;
  
    width: 90vw;
    // padding: 0 5vw;
    // background-color: red;
    
    row-gap: 5vh;

    .div-1 {
        width: 70%;

        p {
            @extend %normal-text;
            font-weight: normal;
            color: black;
        }

        .signature {
            @extend %heading-1;
            font-style: italic;
            font-weight: normal;
        }
    }
}

@media screen and (max-width:1000px) {
    .AboutMePage {
        .div-1 {
            width: 100%;
            p {
                font-size: 16px !important;
            }
        }
    }
}