.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  // background-color: red;

  .alert {
    display: none;
  }
  
  // Make the Speed Dial floating at the bottom
  .Box {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 20px;
    right: 20px;
  }

  .progress-bar {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    height: 10px;
    background-color: #7C7C7C;
    border: solid 1px black;
    transform-origin: 0%;
    width: 100%;
  }

}


@media only screen and (max-width:1435px) {
  .App {

    .content {
      display: none !important;
    }

    .alert {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 80%;
    }
  }    
}