.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  // background-color: red;

  .alert {
    display: none;
  }
  
  // Make the Speed Dial floating at the bottom
  .Box {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 20px;
    right: 20px;
  }

  .progress-bar {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    height: 10px;
    background-color: #7C7C7C;
    border: solid 1px black;
    transform-origin: 0%;
    width: 100%;
  }

  .incorrect-page-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;

    .text-alert {
      text-align: center;
      width: 50%;
    }

    .animationView {
      width: 35%;
      height: auto;
    }

    .back-to-home-button {
      display: inline-block;
      padding: 12px 24px; /* Adjust padding for size */
      font-size: 16px; /* Text size */
      font-weight: 600; /* Bold text */
      color: #ffffff; /* Text color */
      background-color: black; /* Button background color */
      border: none; /* Remove default border */
      border-radius: 25px; /* Rounded corners */
      text-align: center;
      text-decoration: none; /* Remove underline */
      box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Soft shadow */
      transition: background-color 0.3s ease, box-shadow 0.3s ease; /* Smooth hover effects */
      cursor: pointer;
    }
    
    .back-to-home-button:hover {
      background-color: gray; /* Darker shade for hover */
      box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2); /* Increase shadow on hover */
    }    
  }

}


// -- Activate ONLY when the Mobile Version is under development

// @media only screen and (max-width:1435px) {
//   .App {

//     .content {
//       display: none !important;
//     }

//     .alert {
//       display: flex;
//       flex-direction: column;
//       justify-content: center;
//       align-items: center;
//       width: 80%;
//     }
//   }    
// }