@import '../../components/text-styling/text-styling.scss';

.OtherPage {
    display: flex;
    flex-direction: column;
    align-items: center;
  
    width: 90vw;
    // padding: 0 5vw;
    height: auto;
    
    row-gap: 5vh;

    .subtitle {
        @extend %normal-text;
        font-weight: normal;
        color: black;
    }

    .Gallery {
        display: flex;
        width: 100%;
        height: 100%;
        background-color: red;
    }
}