.ProjectCells {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 5vh;
    // background-color: red;
    // test
    

    p {
        font-family: 'PingFang HK';
        font-weight: normal;
        font-size: 2em;
        color: #7C7C7C;
        padding: 0;
        margin: 0;
        text-align: left;
    }

    // .animated-div {
    //     background-color: #ff6347;
    //     color: white;
    //     padding: 20px;
    //     margin: 50px 0;
    //     font-size: 24px;
    //     border-radius: 8px;
    //     width: 200px;
    //   }
}