@import '../../text-styling/text-styling.scss';

%cell-layout {
    display: flex;

    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    // padding: 0.5%;
}

%remove-link-formatting {
    // Removes the disgusting underline and color on the link
    a {
        color: inherit;
        text-decoration: none;
    }
}


.HeroCell {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 5vh;

    width: 100%;
    padding-top: 5vh;
    padding-bottom: 5vh;

    position: relative;

    transition: all 0.3s;    

    .upper-section {
        @extend %cell-layout;
        padding: 1%;

        .left-div {
            display: flex;
            width: 20%;
            align-items: center;
            justify-content: center;
    
            padding: 1vw;
            padding-right: 2%;
            
            margin: 5%;
            
            .image-me {
                width: 100%;
                height: auto;
                margin: 0;
                border: solid 2px black;
                padding: 10%;

                background: rgba(255, 255, 255, 0.2);
                border-radius: 50%;
                box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
                backdrop-filter: blur(5px);
                -webkit-backdrop-filter: blur(5px);
                border: 1px solid rgba(255, 255, 255, 0.3);
            }
        }
    
        .right-div {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            width: 80%;
    
            padding: 1vw;
            padding-left: 2%;
    
    
            .greeting {
                font-family: 'PingFang HK';
                font-weight: lighter;
                font-size: 2.2em;
                color: #7C7C7C;
                padding: 0;
                margin: 0;
                text-align: left;
            }
    
            .title {
                @extend %heading-1;

                .completed-goal-faded {
                    color: rgba(0, 0, 0, 0.2);
                }
            }
    
            .about {
                @extend %normal-text;
            }
        }
    }

    .middle-section {
        display: flex;
        width: 100%;
        flex-direction: column;

        justify-content: center;
        align-items: center;
        column-gap: 5vw;
        padding-top: 1vh;

        row-gap: 5vh;

        // background-color: red;

        .contact-me {
            display: flex;
            width: 100%;
            height: 10vh;
            justify-content: space-around;
            // background-color: red;

            .contact-cell {
                @extend %cell-layout;
                @extend %remove-link-formatting;
                a {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                    width: 100%;
                    height: 100%;
                }
                background-color: black;
                align-items: center;
                justify-content: center;
                width: 25%;
                color: white;
            }
        }

        .big-cell-1 {
            display: flex;
            width: 100%;
            column-gap: 2%;
            // align-items: center;
            justify-content: center;

            %template-half-cell {
                @extend %cell-layout;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;
                row-gap: 0;
                column-gap: 0;
                width: 44%;
                padding: 5%;

                @extend %heading-1;
                text-align: center;

                p {
                    padding: 0;
                    margin: 0;
                }
            }

            .left {
                @extend %template-half-cell;
                @extend %remove-link-formatting;

                .thesis-cover {
                    border-radius: 10px;
                    border: 1px solid black;
                    margin: 0;
                    padding: 0;
                }
            }

            .right {
                @extend %template-half-cell;
                justify-content: flex-start;
                align-items: center;

                ul {
                    // Remove the bullet point
                    list-style: none;
                    margin-left: 0;
                    padding-left: 1em;

                    // Insert a '-' instead of bullet point
                    li:before {
                        display: inline-block;
                        content: "-";
                        width: 1em;
                        margin-left: -1em;
                    }

                    li {
                        @extend %normal-text;
                        font-size: 20px;
                        margin-top: 5%;

                        @extend %remove-link-formatting;
                    }
                }
            }
        }

        .big-cell-2 {
            @extend %cell-layout;
            flex-direction: column;
            width: 100%;
            justify-content: center;
            align-items: center;
            padding: 1%;

            .thesis-cover {
                border: solid 2px black;
            }

            .title {
                font-family: 'PingFang HK';
                font-weight: bold;
                font-size: 2em;
                color: #7C7C7C;
                padding: 0;
                margin: 10px 0 10px 0;
                text-align: center;
            }

            .subtitle {
                width: 70%;
                font-family: 'PingFang HK';
                font-weight: normal;
                font-size: 1.3em;
                color: #7C7C7C;
                padding: 0;
                margin: 0;
                text-align: center;
            }
        }

        .technologies {
            display: flex;
            width: 100%;

            justify-content: center;
            align-items: center;
            column-gap: 5vw;
            padding-top: 3vh;

            .image-div {
                display: flex;
                align-items: center;
                justify-content: center;
    
                height: 12vh;
                width: 12vh;
                border-radius: 50%;
    
                background-color: white;
                box-shadow: 5px 5px 5px 5px lightgray;
    
                img {
                    height: 60%;
                    width: auto;
                }
            }
        }
    }
    

    .lottie-animation {
        display: flex;
        align-items: flex-end;

        position: absolute;
        bottom: 0;
        
        // background-color: blue;
    }
}