.ExperienceSection {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 5vh;

    .vertical-timeline-component {
        width: 100%;

        // Set the desired values on the custom props for the timeline component
        &:before {
            background-color: black; /* Set your desired line color */
        }

        .vertical-timeline-element {
            .vertical-timeline-element-subtitle {

            }

            p {
                margin: 0;
            }
        }

        .vertical-timeline-element-content {
            background-color: #F4F4F4;

            /* From https://css.glass */
            background: rgba(255, 255, 255, 0.2);
            border-radius: 16px;
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
            backdrop-filter: blur(5px);
            -webkit-backdrop-filter: blur(5px);
            border: 1px solid rgba(255, 255, 255, 0.3);
        }

        .vertical-timeline-element-content-arrow {
            background-color: #F4F4F4;

            /* From https://css.glass */
            background: rgba(255, 255, 255, 0.2);
            border-radius: 16px;
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
            backdrop-filter: blur(5px);
            -webkit-backdrop-filter: blur(5px);
            border: 1px solid rgba(255, 255, 255, 0.3);
        }

        .vertical-timeline-element-icon {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: white;
            box-shadow: none;


            img {
                padding: 0;
                margin: 0;
                width: 85%;
                height: auto;
                color: black;
            }
        }        
    }    
}