body {
  margin: 0;
  padding: 0;
  scroll-snap-type: x mandatory;
  font-family: Arial, Helvetica, sans-serif;
}

#menu_bar {
  display: flex;
}
#menu_bar .right, #menu_bar .middle, #menu_bar .left {
  float: left;
  height: 12vh;
  display: flex;
  box-sizing: border-box;
  align-items: center;
  background-image: radial-gradient(#C8C8C8 10%, transparent 11%), radial-gradient(#e53935 10%, transparent 11%);
  background-size: 10px 10px;
  background-repeat: repeat;
}
#menu_bar .left {
  width: 15%;
  padding-left: 4%;
}
#menu_bar .left #logo {
  width: 50px;
  height: auto;
}
#menu_bar .middle {
  width: 70%;
  justify-content: center;
}
#menu_bar .middle ul {
  position: relative;
  display: flex;
  flex-direction: row;
  margin: 0;
}
#menu_bar .middle ul li {
  position: relative;
  list-style: none;
  display: inline;
  padding: 50px 50px;
  list-style: none;
}
#menu_bar .middle ul li a {
  position: relative;
  text-decoration: none;
  line-height: 1em;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: gray;
}
#menu_bar .middle ul li a::before {
  content: attr(data-text);
  position: absolute;
  color: var(--clr);
  width: 0;
  overflow: hidden;
  transition: 0.5s;
  border-right: 1px solid var(--clr);
  -webkit-text-stroke: 1px var(--clr);
}
#menu_bar .middle ul li a:hover::before {
  width: 100%;
  filter: drop-shadow(0 0 25px var(--clr));
}
#menu_bar .middle .menu_item {
  width: 15%;
  display: flex;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}
#menu_bar .middle .menu_item:hover {
  font-weight: bold;
  cursor: pointer;
}
#menu_bar .right {
  flex-direction: row-reverse;
  width: 15%;
  padding-left: auto;
  padding-right: 4%;
  -moz-column-gap: 1vh;
       column-gap: 1vh;
}
#menu_bar .right a {
  display: flex;
  width: 50%;
  text-decoration: none;
  background-color: #6563FF;
  border-radius: 5px;
}
#menu_bar .right a #cv {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40%;
  border: solid 1px #6563FF;
  background-color: white;
  border-radius: 5px;
  transition: transform 250ms;
  will-change: transform;
}
#menu_bar .right a #cv p {
  color: #6563FF;
}
#menu_bar .right a #cv:hover, #menu_bar .right a #cv:focus {
  transform: translate(-5px, -5px);
  cursor: url("/Assets/new_tab_icon.svg"), auto;
}

#section_1 {
  display: flex;
  justify-content: center;
  background-image: radial-gradient(#C8C8C8 10%, transparent 11%), radial-gradient(#e53935 10%, transparent 11%);
  background-size: 10px 10px;
  background-repeat: repeat;
}
#section_1 #content {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  height: 80vh;
  width: 80%;
  padding: 5%;
}
#section_1 #content #intro_header {
  color: #6563FF;
  font-size: 22px;
}
#section_1 #content #title_header, #section_1 #content #name_header {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 55px;
  margin: 0;
  padding-bottom: 10px;
}
#section_1 #content #name_header {
  color: #151618;
}
#section_1 #content #title_header {
  color: #757575;
}
#section_1 #content #subtitle {
  display: flex;
  width: 50%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: #757575;
  line-height: 150%;
  padding-bottom: 20px;
}
#section_1 #content a {
  display: flex;
  width: 20%;
  text-decoration: none;
  background-color: #6563FF;
  border-radius: 5px;
}
#section_1 #content a #linkedin {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-radius: 5px;
  border: solid 2px #6563FF;
  background-color: white;
  transition: transform 250ms;
  will-change: transform;
}
#section_1 #content a #linkedin p {
  color: #6563FF;
}
#section_1 #content a #linkedin:hover, #section_1 #content a #linkedin:focus {
  transform: translate(-5px, -5px);
  cursor: url("/Assets/new_tab_icon.svg"), auto;
}
#section_1 #right_content {
  display: flex;
  flex-direction: row-reverse;
  box-sizing: border-box;
  width: 72%;
}
#section_1 #right_content #welcome_img {
  height: 400px;
}

#section_2 {
  display: flex;
  padding: 5%;
  justify-content: center;
}
#section_2 #mockup {
  overflow-wrap: break-all;
}
#section_2 #mockup #m1 {
  width: 45vh;
}
#section_2 #mockup .h1 {
  max-width: 20%;
}

.section_scroll {
  display: flex;
  box-sizing: border-box;
  padding-left: 4%;
  padding-right: 4%;
  background-color: #151618;
  justify-content: center;
  height: 35px;
  width: 100%;
}
.section_scroll .indicator {
  display: flex;
  justify-content: center;
  top: -35px;
  width: 50px;
  height: 80px;
  background-color: #6563FF;
  border-radius: 20px;
  position: relative;
}
.section_scroll .indicator::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 20px;
  background-color: white;
  margin: auto;
  left: 0;
  right: 0;
  top: 10px;
  border-radius: 25%;
  animation: animate 1.5s ease-in-out infinite;
}
@keyframes animate {
  0% {
    opacity: 0;
    top: 10px;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    top: 50px;
    transform: scale(0.7);
  }
}

#section_2 {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  padding-left: 4%;
  padding-right: 4%;
  background-color: #151618;
  width: 100%;
}
#section_2 .event {
  display: flex;
  width: 80%;
}
#section_2 .event .timeline {
  display: flex;
  justify-content: center;
  align-self: stretch;
  margin: 0px;
  width: 4%;
  padding-top: 1%;
  background: linear-gradient(to right, transparent 0%, transparent calc(50% - 0.81px), #6563FF calc(50% - 0.8px), #6563FF calc(50% + 0.8px), transparent calc(50% + 0.81px), transparent 100%);
}
#section_2 .event .timeline .circle {
  display: flex;
  width: 30%;
  height: 0;
  padding-bottom: 30%;
  border-radius: 30%;
  border-radius: 20px;
  border: solid 2px #6563FF;
  background-color: #151618;
  z-index: 9;
}
#section_2 #content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding-bottom: 4%;
  padding-left: 1%;
}
#section_2 #content .cell_header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 5%;
}
#section_2 #content .cell_header #half_1 {
  display: flex;
  flex-direction: column;
}
#section_2 #content .cell_header #half_1 h1 {
  width: -moz-fit-content;
  width: fit-content;
  display: table;
  padding-top: 0;
  margin-top: 0;
  color: white;
}
#section_2 #content .cell_header #half_1 h3 {
  font-style: italic;
}
#section_2 #content .cell_header #half_2 a {
  display: flex;
}
#section_2 #content .cell_header #half_2 a img {
  max-width: 10vw;
  height: auto;
}
#section_2 #content .cell_header #half_2 a:hover, #section_2 #content .cell_header #half_2 a:focus {
  cursor: url("/Assets/new_tab_icon.svg"), auto;
}
#section_2 #content p {
  color: white;
}
#section_2 #content h3 {
  color: lightgray;
}

#section_footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 5%;
  width: 100%;
  background-image: radial-gradient(#C8C8C8 10%, transparent 11%), radial-gradient(#e53935 10%, transparent 11%);
  background-size: 10px 10px;
  background-repeat: repeat;
}
#section_footer .contact_div {
  display: flex;
  height: 15vh;
  width: 80%;
  transform: translate(0, -100%);
  border-radius: 20px;
  background: rgb(2, 0, 36);
  background: linear-gradient(90deg, #637bff 0%, #6563FF 35%, #7f63ff 100%);
  padding: 2%;
  margin-bottom: 0;
}
#section_footer .contact_div #left {
  display: flex;
  flex-direction: column;
  width: 50%;
}
#section_footer .contact_div #left h1 {
  padding: 0;
  margin: 0;
  font-weight: normal;
  color: white;
}
#section_footer .contact_div #left p {
  color: white;
}
#section_footer .contact_div #right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 50%;
  -moz-column-gap: 2vw;
       column-gap: 2vw;
}
#section_footer .contact_div #right .contact_me {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5vh;
  background-color: #151618;
  border-radius: 30px;
  background-color: transparent;
  transition: transform ease-in-out 0.3s;
}
#section_footer .contact_div #right .contact_me p {
  color: white;
  padding: 1vw 0.5vw 1vw 1vw;
}
#section_footer .contact_div #right .contact_me img {
  padding: 1vw 1vw 1vw 0.5vw;
}
#section_footer .contact_div:hover, #section_footer .contact_div:focus {
  transition: ease-in 0.2s;
  box-shadow: 0 4px 4px gray;
  border: solid 2px white;
}
#section_footer .contact_div:hover #right .contact_me, #section_footer .contact_div:focus #right .contact_me {
  background-color: transparent;
  border: solid 2px white;
  transform: translateX(-20px);
  transition: ease-in-out 0.3s;
}
#section_footer .contact_div:not(:hover) {
  border: none;
  transition: ease-in 0.3s;
  border: solid 2px #6563FF;
}
#section_footer .contact_div:not(:hover) #right .contact_me {
  background-color: #151618;
  transform: translateX(0); /* Animate back to original position */
}
#section_footer .quote {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 30vw;
}
#section_footer .quote #quote_div {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 1;
  top: 0%;
  left: 0%;
  border-radius: 0 25px 0 25px;
  border: solid 2px #6563FF;
  background-color: white;
  height: 15vh;
  width: 100%;
  transition: transform 250ms;
  will-change: transform;
}
#section_footer .quote #quote_div p {
  display: inline;
  margin: 0;
  color: #6563FF;
}
#section_footer .quote #quote_div p #quotation_mark_1 {
  font-size: xx-large;
  float: left;
}
#section_footer .quote #quote_div p #quotation_mark_2 {
  font-size: xx-large;
  float: right;
}
#section_footer .quote #quote_div p #quote {
  white-space: nowrap;
  font-size: large;
  font-weight: bold;
}
#section_footer .quote #quote_div:hover, #section_footer .quote #quote_div:focus {
  transform: translate(-35px, -35px);
}
#section_footer .quote .papa {
  display: flex;
  align-items: flex-end;
  background-color: #6563FF;
  width: 100%;
  height: 15vh;
  position: relative;
  z-index: 0;
  border-radius: 0 25px 0 25px;
}
#section_footer .quote .papa p {
  color: white;
  width: 100%;
  padding: 0;
  margin: 0;
  text-align: right;
  padding-right: 2%;
  padding-bottom: 2%;
}
#section_footer .grades_div {
  display: flex;
  width: 80%;
  height: auto;
  flex-direction: column;
  /* Hide scrollbar for Chrome, Safari and Opera */
  /* Hide scrollbar for IE, Edge and Firefox */
}
#section_footer .grades_div .toggle_buttons {
  margin-bottom: 2vh;
}
#section_footer .grades_div .toggle_buttons button {
  padding: 10px 20px;
  background-color: #6563FF;
  color: white;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
#section_footer .grades_div .toggle_buttons button:hover, #section_footer .grades_div .toggle_buttons button:active {
  background-color: #504CFF;
}
#section_footer .grades_div #disclaimer {
  text-align: center;
  color: gray;
  font-size: smaller;
}
#section_footer .grades_div #disclaimer a {
  color: gray;
}
#section_footer .grades_div #disclaimer .emphasized {
  font-style: italic;
}
#section_footer .grades_div #my_grades {
  display: flex;
  width: 100%;
  overflow-x: auto;
  align-items: flex-start; /* Align items to the start */
  padding-bottom: 2vh;
}
#section_footer .grades_div #my_grades .grade_cell {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  width: 18vw;
  background-color: #6563FF;
  border-radius: 20px;
  margin-right: 2vw;
  padding: 2vw 2vw 2vw 2vw;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
#section_footer .grades_div #my_grades .grade_cell p {
  display: inline-block;
  font-size: 2vh;
  color: white;
}
#section_footer .grades_div #my_grades .grade_cell #subtitle_1 {
  font-style: italic;
}
#section_footer .grades_div #my_grades .grade_cell #title {
  font-size: large;
  font-weight: bold;
}
#section_footer .grades_div #my_grades .grade_cell #subtitle_2 {
  font-size: 1.5vh;
}
#section_footer .grades_div #my_grades .grade_cell canvas {
  display: flex;
  background-color: white;
  width: 20px;
  padding: 10px;
  margin: 0;
  border-radius: 20px;
}
#section_footer .grades_div #my_grades::-webkit-scrollbar {
  display: none;
}
#section_footer .grades_div #my_grades {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
#section_footer .bottom_footer {
  display: flex;
  flex-direction: row;
  width: 100%;
  border-top: solid 1px lightgray;
  margin-bottom: 5vh;
}
#section_footer .bottom_footer #right, #section_footer .bottom_footer #middle, #section_footer .bottom_footer #left {
  display: flex;
  flex-direction: column;
  width: 33%;
  justify-content: center;
  align-items: center;
}
#section_footer .bottom_footer #right ul, #section_footer .bottom_footer #middle ul, #section_footer .bottom_footer #left ul {
  padding: 0;
  list-style-type: none;
}
#section_footer .bottom_footer #right ul li, #section_footer .bottom_footer #middle ul li, #section_footer .bottom_footer #left ul li {
  font-size: 12px;
  color: black;
  padding: 0.5vh;
}
#section_footer .bottom_footer #left #name_logo {
  display: flex;
  justify-content: center;
  width: 100%;
  -moz-column-gap: 2%;
       column-gap: 2%;
}
#section_footer .bottom_footer #left #name_logo p {
  width: -moz-fit-content;
  width: fit-content;
  display: table;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: large;
  display: inline;
  color: #6563FF;
  font-weight: bold;
}
#section_footer .bottom_footer #left #name_logo #logo {
  width: 20px;
  height: auto;
}
#section_footer .bottom_footer #left p {
  width: 50%;
  font-size: 12px;
  color: black;
}
#section_footer .bottom_footer #middle p {
  color: #6563FF;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: large;
  display: inline;
  font-weight: bold;
}
#section_footer .bottom_footer #right p {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: large;
  display: inline;
  font-weight: bold;
  color: #6563FF;
  font-weight: bold;
}/*# sourceMappingURL=style.css.map */